<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rakib's Resume</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/33.png" rel="icon">
  <link href="assets/img/123jpg" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/321.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Rakibul Islam</a></h1>
        <h6 class="text-center" style="color:rgb(122, 112, 112);">Full stack Web developer</h6>
        <h6 class="text-center" style="color:rgb(122, 112, 112);">Python, Django, Rest API</h6>
        <div class="social-links mt-0 text-center">
          <a href="https://github.com/rakibulislam8226" class="github" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100008211633665" class="facebook" target="_blank"><i
              class="bx bxl-facebook"></i></a>
          
          <a href="https://www.linkedin.com/in/rakibul-islam-b8ba061a4/" class="linkedin" target="_blank"><i
              class="bx bxl-linkedin"></i></a>
        </div>

      </div>


      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#experience" class="nav-link scrollto"><i class="bx bxs-grid"></i></i> <span>Experience</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class=" bx bxs-data"></i></i> <span>Skills</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>         
        </ul>
        
      </nav>
      <!-- button with style start -->
      <div class="button-work">
        <a href="/media/CV/rakibcv.pdf/" class="btn btn-outline-danger my-1 ml-2">Download CV</a>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Rakibul Islam</h1>
      <h5 class="text-light">Full Stack Software engineer also,</h5>
      <p>I'm <span class="typed  text-warning" data-typed-items="Designer, Full Stack Web Developer, Django Developer"></span></p>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
        <!-- ======= Experiance Section ======= -->
    <section id="experience" class="experience section-bg ">
      <div class="container ">

        <div class="row experience-content">

          <div class="section-item col-lg-7" data-aos="fade-up">
            <div class="section-title ">
              <h2>Experience</h2>
            </div>
            <div class="">
              <p>Entry-Level Software Developer.</p>

              Developed too many projects in localhost almost 3 years. visit my <a title="Click to visit my github account." target="_blank" href="https://github.com/rakibulislam8226">GitHub</a> to see some demos. Everything is not uploaded there but some projects are already uploaded there. <br> <br>

              <ul>
                <li>Assisted in maintenance of software for engineering applications.</li>
                <li>Analyzed user needs and proposed design software solutions to meet them.</li>
                <li>Committed code to GIT and created 75+ code reviews.</li>
                <li>Supported Index software development and testing processes.</li>
                <li>Collaborate on future projects and innovations.</li>
                <li>Monitored and improved internal software processes.</li>
              </ul>
              <p><a target="_blank" href="https://github.com/rakibulislam8226">Click to see some of my complete projects.</a></p>

            </div>

          </div>
          <div class=" container col-lg-5" data-aos="fade-up" data-aos-delay="100">
            <div class="section-title">
              <h2>Profile:</h2> 
            </div>
            <div>
              <div>
                <p> <em>
                  I am a university student with a focus on python solutions and web development. I had successfully participated in several academic as well as international courses. especially I did some courses in Coursera. One was IT-related which was offered by Google and the others are python related. Love learning new things or tools everyday. If i don't know something i will learn it. This one help me very well st understanding the client's needs and gave me tools to try and solve problems in a fast and productive manner.</em>
                </p>
              </div>
          </div>
        </div>
      </div>
    </section><!-- End Experiance Section -->



    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg ">
      <div class="container ">

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="section-title ">
              <h2>Skills</h2>
              <p>Good communication </p>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>


            <div class="progress">
              <span class="skill">Restful API <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Bootstrap <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>
          <div class=" container col-lg-5" data-aos="fade-up" data-aos-delay="100">
            <div class="section-title">
              <h2>Social links:</h2> 
            </div>
            <div>
              <div class="alert alert-info alert-dismissible">
                <button class="close" data-dismiss="alert">&times;</button>
                Visit my Facebook.
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100008211633665">Click to visit</a>
              </div>
              <div class="alert alert-warning alert-dismissible">
                <button class="close" data-dismiss="alert">&times;</button>
                Visit my Github.
                <a target="_blank" href="https://github.com/rakibulislam8226"> Click to visit</a>
              </div>
              <div class="alert alert-success alert-dismissible">
                <button class="close" data-dismiss="alert">&times;</button>
                Visit my Linkedln.
                <a target="_blank" href="https://www.linkedin.com/in/rakibul-islam-b8ba061a4/"> Click to visit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Skills Section -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I'm Rakibul Islam. i'm a Bsc student of Green University Of Bangladesh. I love to learn, so that's why I like to accept challenge. And I live in Dhaka. My home town is Jessore. </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/hero-bg.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Full stack web developer.</h3>
            <p class="fst-italic">
              I am Full Stack Developer Python Django. I have experience working with oracle, mysql and PostgreSQL databases also I
              am very fluent in using sql commands. One the other hand I also have a some knowledge in Android studio.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>7 July 1999</span></li> 
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+88 01776-068226</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Dhaka,Bangladesh.</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>HSC</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                    <span>rakibulislam8226@gmail.com</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Sometime Available</span>
                  </li>
                </ul>
              </div>
            </div>
            <p>
              Grateful of almighty Allah. I can lead very strongly also can hit plan inn sha allah. I like to do
              specialist work. Good communication skill and management. one by one, I'm trying to develop my skills.
              Django & REST Framework is my favorite
              site. I never wanted to mention any selected topic because, mainly I like to do lead and management. yet I
              want to
              acquire my knowledge in every fields.
            </p>
            <!-- button with style start -->
            <div class="button-work">
              <a href="/media/CV/rakibcv.pdf/" class="btn btn-outline-success my-3">Download CV</a> 
            </div>
            <!-- button end -->
          </div>

        </div>
      </div>
    </section>

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I have good communication skills in English. I can hit plan a little bit. I love to work on all the python related work like which is needed to develop any website. I have a good command of the Django framework. I love to learn anything.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Rakibul Islam</h4>
              <p><em>
                  Innovative and deadline-driven Python with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BSC in CSE &amp; Computer Science And Engineering</h4>
              <h5>2019 - 2022</h5>
              <p><em>Green University Of Bangladesh,</em></p>
              <p>Dhaka Agrabad Bangladesh.</p>
            </div>
            <div class="resume-item">
              <h4>Higher Secondary School Certificate</h4>
              <h5>2016 - 2017</h5>
              <p><em>Khulna Govt Model High School And College,</em></p>
              <p>Khulna Boyra Bangladesh.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Junior Web developer</h4>
              <h5>2019 - Present</h5>
              <p><em>Dhaka Bangladesh</em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the Web, layout, and production communication
                  materials</li>

                <li>Supervise the evaluation of all web django related work to ensure design quality and accuracy.
                </li>
                <li>Oversee the efficient use of production project budgets ranging from $1,000 - $5,000</li>
                <li>Designed some qualities websites using django and restful api. Also there are some good word added in my <a title="Click to visit my github account." target="_blank" href="https://github.com/rakibulislam8226">github</a> account.</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End Resume Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>
        <div class="row" data-aos="fade-in">
          <div class="col-lg-6 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Dhaka Mirpur</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>rakibulislam8226@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+8801776-068226</p>
              </div>

            </div>
          </div>

          <!-- map start -->

          <div class="col-lg-6 mt-3 mt-lg-0 d-flex align-items-stretch">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d281.9451188798421!2d90.37294156712116!3d23.789465578657275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0cae36c2e51%3A0x440847f4ac117274!2sIqbal%20Rd%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1646374537924!5m2!1sen!2sbd" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          </div>
        </div>
      </div>
    
    <!-- map start end -->


    <!-- send me message start -->
    {# <section id="message" class="message"> #}
      <div class="text-center mt-5">
          <h2><b>Contact Form</b></h2>
        </div>
      <div class="container px-5">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name:</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name"
              name="name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email:</label>
            <input type="email" class="form-control" required id="exampleFormControlInput2" placeholder="Enter your mail"
              name="email">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone:</label>
            <input type="Phone" required class="form-control" id="exampleFormControlInput3" placeholder="Enter your phone Number"
              name="phone">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
            <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" name="complain"></textarea>
          </div>
          <div class="col text-center">
            <button class="btn btn-outline-success text-center" type="submit">Submit</button>
          </div>
          
        </form>
      </div>
      </section>
    {# </section> #}
    <!-- send me message end -->
        <!-- End Contact Section -->

    <div style="background-color: #040b14;" class="footer text-light p-2 mb-0 text-center">
      <h4>Thank you</h4>
    </div>

  </main>
  <!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

    <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>